@page "/"

<PageTitle>Home</PageTitle>

<h1>Log in</h1>

<br>

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Username</span>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>

<br>

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Password</span>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>
<br>
<button type="button" class="btn btn-primary">Submit</button>
<br>
<br>
<h4>Create New Account</h4>


